@import helper._
@(letter: String, roots: Array[Root])(implicit request: RequestHeader)


@common.layout("Roots - " + letter){
  @common.message(request.flash, "Showing Letter")
  <div id="letter">
    <div class="row letter-header">
      <div class="col-3 col-header">
        @if(request.getQueryString("order").getOrElse("ASC") == "ASC"){
          <a href="/roots/view/@letter?col=letter&order=DSC">
            Root
          </a>
        }else{
          <a href="/roots/view/@letter?col=letter&order=ASC">
            Root
          </a>
        }
      </div>
      <div class="col-3 col-header">
        @if(request.getQueryString("order").getOrElse("ASC") == "ASC"){
          <a href="/roots/view/@letter?col=parent&order=ASC">
            Parent
          </a>
        }else{
          <a href="/roots/view/@letter?col=parent&order=DSC">
            Parent
          </a>
        }
      </div>
      <div class="col-3 col-header">
        @if(request.getQueryString("order").getOrElse("ASC") == "ASC"){
            <a href="/roots/view/@letter?col=root count&order=DSC">
              Child Roots
            </a>
        }else{
            <a href="/roots/view/@letter?col=root count&order=ASC">
              Child Roots
            </a>
        }
      </div>
      <div class="col-3 col-header">
        Words
      </div>
    </div>
    @for(index <- 0 until roots.size){
      <div class="row">
        <div class="col-3 root-name">
          <a href="/roots/read/@roots(index).root_name">
            @roots(index).root_name
          </a>
        </div>
        <div class="col-3 letter-string">
          @if(roots(index).parent.length == 1){
            <a href="/letters/read/@roots(index).parent">
              @roots(index).parent
            </a>
          }else{
            <a href="/roots/read/@roots(index).parent">
              @roots(index).parent
            </a>
          }
        </div>
        <div class="col-3 letter-roots">
          @if(roots(index).root_count == 0){
            0
          }else{
            <a href="/roots/view/@letter?col=letter&order=DSC&parent=@roots(index).root_name">
              @roots(index).root_count
            </a>
          }
        </div>
        <div class="col-3 letter-words">
          <a href="words/view/@letter" class="disabled">
            words
          </a>
        </div>
      </div>
    }
  </div>
}