@import helper._
@(letter: String, roots: Array[Root])(implicit request: RequestHeader)


@common.layout("Roots - " + letter){
  @common.message(request.flash, "Showing Letter")
  <div id="letter">
    <div class="row letter-header">
      <div class="col-2 col-header">
        @if(request.getQueryString("order").getOrElse("ASC") == "ASC"){
          <a href="/roots/view/@letter?col=letter&order=DSC">Root</a>
        } else{
          <a href="/roots/view/@letter?col=letter&order=ASC">Root</a>
        }
      </div>
      <div class="col-2 col-header">
        Parent
      </div>
      <div class="col-3 col-header">
        Roots
      </div>
      <div class="col-3 col-header">
        Words
      </div>
    </div>
    @for(index <- 0 until roots.size){
      <div class="row">
        <div class="col-2 root-name">
          <a href="/roots/read/@roots(index).root_name">
            @roots(index).root_name
          </a>
        </div>
        <div class="col-2 letter-string">
          @roots(index).parent
        </div>
        <div class="col-3 letter-roots">
          <a href="/roots/view/@letter?col=letter&order=DSC&parent=@roots(index).root_name">
            roots
          </a>
        </div>
        <div class="col-3 letter-words">
          <a href="words/view/@letter">
            words
          </a>
        </div>
      </div>
    }
  </div>
}