@import helper._
@()(implicit request: RequestHeader)

@common.layout("Sign In"){
    @common.message(request.flash, "Login Page Loaded")
    <p>
        Not registered? <a href="users/signup">Sign up!</a>
    </p>

    <form action="/login" method="POST">
        <div class="row">
            <div class="col-4">
                <label>Username</label> 
            </div>
            <div class="col-8">
                <input name="username" id="username" value="Username">
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <label>Password</label>
            </div>
            <div class="col-8">
                <input name="password" id="password" value="password">
            </div>
        </div>
        
        <div>
            @CSRF.formField
            <input type="submit" value="Login" />
        </div>
    </form>
}
   