@(user: User)(implicit request: RequestHeader)
@import helper._

@common.layout(s"User - $user.name"){
    <div id="heading">
      <h1>User - @user.name</h1>
    </div>
    @if(request.session.get("role").getOrElse("") == "admin"){
      @common.message(request.flash, "Editing User")
    }else{
      @common.message(request.flash, "Showing User")
    }
    <div id="user">
      @if(request.session.get("role").getOrElse("")  == "admin"){
        <form action="/users/update/@user.id" method="POST">
          <div>
            <label>Username</label>
            <input name="username" id="username" value="@user.name">
          </div>

          <div>
            <label>Password</label>
            <input name="password" id="password" value="@user.password">
          </div>

          <div>
            <label>Role</label>
            <select id="role" name="role" value="@user.role">
              <option value="registered">
                  Registered
              </option>
              <option value="admin">
                  Admin
              </option>
            </select>
          </div>

          <div>
              @CSRF.formField
              <input type="submit" value="Edit User" />
          </div>
        </form>
      }else{
        <p><b>ID:</b> @user.id </p>
        <p><b>Username:</b> @user.name </p>
        <p><b>Password:</b> @user.password </p>
        <p><b>Role:</b> @user.role</p>
      }
      <p>
        <a href="/users/all">Back to Users</a>
      </p>
    </div>

}