@(user: User)(implicit request: RequestHeader)
@import helper._

@common.layout("User - " + user.name){
    @if(request.session.get("role").getOrElse("") == "admin"){
      @common.message(request.flash, "Editing User")
    }else{
      @common.message(request.flash, "Showing User")
    }
    <div id="user">
      @if(request.session.get("role").getOrElse("")  == "admin"){
        <form action="/users/update/@user.id" method="POST">
          <div class="row">
            <div class="col-3">
              <label>Username</label>
            </div>
            <div class="col-9">
              <input name="username" id="username" value="@user.name">
            </div>
          </div>

          <div class="row">
            <div class="col-3">
              <label>Password</label>
            </div>
            <div class="col-9">
              <input name="password" id="password" value="@user.password">
            </div>
          </div>

          <div class="row">
            <div class="col-3">
              <label>Role</label>
            </div>
            <div class="col-9">
              <select id="role" name="role" value="@user.role">
                <option value="registered">
                    Registered
                </option>
                <option value="admin">
                    Admin
                </option>
              </select>
            </div>
          </div>

          <div>
              @CSRF.formField
              <input type="submit" value="Edit User" />
          </div>
        </form>
      }else{
        <div class="row id">
          <div class="col-3">
            ID
          </div>
          <div class="col-9">
            @user.id
          </div>
        </div>
        <div class="row username">
          <div class="col-3">
            username
          </div>
          <div class="col-9">
            @user.name
          </div>
        </div>
        <div class="row password">
          <div class="col-3">
            password
          </div>
          <div class="col-9">
            @user.password
          </div>
        </div>
        <div class="row role">
          <div class="col-3">
            role
          </div>
          <div class="col-9">
            @user.role
          </diq
        </div>
      }
    </div>

}