@()(implicit flash: Flash, request: RequestHeader, session: Session)
@import helper._

@common.head("Sign Up")

  <body>
    @common.navbar()
    @common.message(flash, "Sign ups open")
    <form action="/users/create" method="POST">
        <div>
            <label>Username</label>
            <input name="username" id="username" value="Username">
        </div>

        <div>
            <label>Password</label>
            <input name="password" id="password" value="password">
        </div>

        <div>
            <label>Role</label>
            <select id="role" name="role">
                <option value="registered">
                    Registered
                </option>
                <option value="admin">
                    Admin
                </option>
            </select>
        </div>
        
        <div>
            @CSRF.formField
            <input type="submit" value="Sign Up" />
        </div>
    </form>
  </body>
</html>