@()(implicit request: RequestHeader)
@import helper._

@common.layout("Sign Up"){
    @common.message(request.flash, "Sign ups open")
    <form action="/users/create" method="POST">
        <div class="row">
            <div class="col-3">
                <label>Username</label>
            </div>
            <div class="col-9">
                <input name="username" id="username" value="Username">
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <label>Password</label>
            </div>
            <div class="col-9">
                <input name="password" id="password" value="password">
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <label>Role</label>
            </div>
            <div class="col-9">
                <select id="role" name="role">
                    <option value="registered">
                        Registered
                    </option>
                    <option value="admin">
                        Admin
                    </option>
                </select>
            </div>
        </div>
        
        <div>
            @CSRF.formField
            <input type="submit" value="Sign Up" />
        </div>
    </form>
}