@import helper._
@(letters: Array[Letter])(implicit request: RequestHeader)


@common.layout("Letters"){
  @common.message(request.flash, "Showing Letter")
  <div id="letter">
    <div class="row letter-header">
      <div class="col-2 col-header">
        Name
      </div>
      <div class="col-2 col-header">
        @if(request.getQueryString("order").getOrElse("ASC") == "ASC"){
          <a href="/letters/all?col=letter&order=DSC">Letter</a>
        } else{
          <a href="/letters/all?col=letter&order=ASC">Letter</a>
        }
      </div>
      <div class="col-2 col-header">
        Glyph
      </div>
      <div class="col-3 col-header">
        Roots
      </div>
      <div class="col-3 col-header">
        Words
      </div>
    </div>
    @for(index <- 0 until letters.size){
      <div class="row">
        <div class="col-2 letter-name">
          <a href="/letters/read/@letters(index).string">
            @letters(index).name
          </a>
        </div>
        <div class="col-2 letter-string">
          @letters(index).string
        </div>
        <div class="col-2 letter-glyph">
          @letters(index).glyph
        </div>
        <div class="col-3 letter-roots">
          <a href="/roots/view/@letters(index).string">
            Roots
          </a>
        </div>
        <div class="col-3 letter-words">
          <a href="/roots/root_counts/@letters(index).string" class="disabled">
            Root Counts
          </a>
        </div>
      </div>
    }
  </div>
}