@(users: Array[User])(implicit session: Session, flash: Flash, request: RequestHeader)
@import helper._

@head("Users")
  <body>
    <h1>USERS</h1>
    @session.get("role").getOrElse("")
    @message(flash, "Showing Users")
    <div id="users">
      @for(index <- 0 until users.size){
        @if(session.get("role").getOrElse("") == "admin"){
          <form action="/users/delete/@users(index).id" method="POST">
          }
        <p> 
          <a href="read/@users(index).id">
            @users(index).name 
          </a>
          @if(users(index).name == session.get("username").getOrElse("")){
            (Me)
          }
          @if(session.get("role").getOrElse("") == "admin"){
              @CSRF.formField
              <button type="submit" style="disply: inline">
                @trash()
              </button>
          }
        </p>
        @if(session.get("role").getOrElse("") == "admin"){
          </form>
        }
      }
    </div>
  </body>
</html>