@()(implicit request: RequestHeader)
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Learn Hebrew</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          @if(request.session.get("username").getOrElse("") == ""){
            <a class="nav-link @if(request.uri == "/"){ active }" aria-current="page" href="/">Login</a>
            <a class="nav-link @if(request.uri == "/signup"){ active }" aria-current="page" href="/signup">Sign Up</a>
          }else{
            <a class="nav-link" aria-current="page" href="/logout">Logout</a>
            <a class="nav-link @if(request.uri == "/users/all"){ active }" href="/users/all">Users</a>
          }
          
          <a class="nav-link" href="/letters/all">Letters</a>
          <a class="nav-link disabled" href="/words/all">Words</a>
          <a class="nav-link" href="/roots/view/א"">Roots</a>
          <a class="nav-link disabled">@request.uri</a>
          <a class="nav-link disabled">@request.session.get("username").getOrElse("")</a>
          <a class="nav-link disabled">@request.session.get("role").getOrElse("")</a>
          <a class="nav-link disabled">@request.getQueryString("order")</a>
        </div>
      </div>
    </div>
  </nav>