@()(implicit session: Session)
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Learn Hebrew</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          @if(session.get("usename").getOrElse("") == ""){
            <a class="nav-link active" aria-current="page" href="/">Login</a>
            <a class="nav-link active" aria-current="page" href="/signup">Sign Up</a>
          }else{
            <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
            <a class="nav-link" href="#">Users</a>
          }
          
          <a class="nav-link disabled">Letters</a>
          <a class="nav-link disabled">Words</a>
          <a class="nav-link disabled">Roots</a>
        </div>
      </div>
    </div>
  </nav>